{% extends "base.html" %}

{% block head_title %}Creaton{% endblock %}

{% block html_head_extra -%}
  <meta property="og:title" content="Bluesky" />
  <meta name="twitter:title" content="Bluesky" />

  <meta name="description" content="Create what's next." />
  <meta name="og:description" content="Create what's next." />
  <meta name="twitter:description" content="Create what's next." />

  <meta property="og:url" content="https://bsky.app" />
  <meta name="twitter:url" content="https://bsky.app" />

  <meta property="og:image" content="/static/social-card-default.png">
  <meta property="twitter:image" content="/static/social-card-default.png">

  <meta name="twitter:site" content="@creaton" />
  <meta name="twitter:card" content="summary_large_image" />
{%- endblock %}

{% block noscript_extra %}
<p>This is the home page.
{% endblock %}
